html, body {
background-color:#FFFFF0;
margin:0px 150px 11px;
}


#navigation {
  margin: 0 ;
  padding: 0 ;
  list-style: none ;
  text-align: center ;
}

#navigation li {
  display:inline;
  margin-right:30px;
}

#navigation li a {
  padding: 4px 20px ;
  background:#FBE4D5;
  color:#009B50;
  border: 1px solid #00B050 ;
  border-radius: 5px;
  font: 1em Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
}

#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
  background:white;
}

header	{
	padding: 50px 10px;
	text-shadow: 1px 1px 1px black;
}

h3, h4	{
	text-shadow: 1px 1px 1px black;
}

h1	{
	font-family:arial;
	font-size:80px;
	text-align:left;
	color:#00B050;
}

h2	{
	font-family:arial;
	font-size:40px;
	text-align:left;
	color:#00C85A;
}

h3	{
	font-family:arial;
	font-size:30px;
	text-align:left;
	color:#00C85A;
}

h4	{
	font-family:arial;
	font-size:20px;
	text-align:left;
	color:#00C85A;
}

p	{
	font-family:arial;
	font-size:25px;
	text-align:center, justify;
	color:black;
}

.p1	{
	font-family: arial;
	font-size: 25px;
	font-weight:bold;
	text-align:center, justify;
	width: 1070px;
	border: 1px solid #00B050;
	border-radius: 5px;
	padding: 6px;
	margin: auto;
}

section	{
	width: 1070px;
	border: 1px solid #00B050;
	border-radius: 10px;
	padding: 12px;
	margin: auto;
}

ol, li {
	font-family:arial;
	font-size:25px;
	text-align:left;
	color:black;
}
	

table	{
	margin: auto;
	font-family:arial;
	font-weight:bold;
}

table, thead, td {
  text-align:center;
  border: 1px solid black;
  border-radius: 4px;
}

thead, tfoot	{
	background:#00B050;
}	

tbody	{
	background:#FBE4D5;
}

thead, td {
  padding: 15px;
  text-align: center;
}

footer	{
	margin:10px;
	padding:10px;
	background:#FBE4D5;
	border-radius:5px;
}

a	{
	color: green;
	font: 1em Arial,sans-serif ;
	text-decoration: none;
}

a:hover {
color:black;
text-decoration:overline;
}

.animaux	{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.videos	{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.videoYTB	{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.legende {
text-align: center;
font-style: italic;
font-family: Arial;
font-size:20px;
}	

